

.support-section {
    background-image: url('./assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
    position: relative;
}

.support-content {
    padding: 30px;
    display: inline-block;
}

.support-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.support-section p {
    font-size: 1em;
    margin-bottom: 20px;
    padding: 20px;
}

.feedback-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.feedback-form input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.feedback-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: right;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 50px;
}

footer p {
    margin: 20px;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
}
